nav {
  background-color: #1E1E1E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #FFF;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  color: #F2F2F2;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  nav li {
    margin: 10px 0;
  }
}